@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #de090a;
  --secondery: #8fdefb;
  --black: #000000;
  --white-color: #fff;
  --yellow-color: #f7c019;
}

@font-face {
  font-family: 'Avenir';
  src: url('assets/fonts/Avenir-Black.eot');
  src: url('assets/fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/Avenir-Black.woff2') format('woff2'),
       url('assets/fonts/Avenir-Black.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* -----------Avenir-medium-Fonts-------- */
@font-face {
  font-family: 'Avenir-Medium';
  src: url('assets/fonts/Avenir-Medium.eot');
  src: url('assets/fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/Avenir-Medium.woff2') format('woff2'),
      url('assets/fonts/Avenir-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* -----------Avenir-Next-Fonts-------- */
@font-face {
  font-family: 'Avenir Next';
  src: url('assets/fonts/AvenirNext-Regular.eot');
  src: url('assets/fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/AvenirNext-Regular.woff2') format('woff2'),
       url('assets/fonts/AvenirNext-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

/* -----------Chalkduster-Fonts-------- */
@font-face {
  font-family: 'Chalkduster';
  src: url('assets/fonts/Chalkduster.eot');
  src: url('assets/fonts/Chalkduster.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/Chalkduster.woff2') format('woff2'),
       url('assets/fonts/Chalkduster.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* -----------FuturaLT-BoldOblique-------- */
@font-face {
  font-family: 'Futura';
  src: url('assets/fonts/Futura-BoldOblique.eot');
  src: url('assets/fonts/Futura-BoldOblique.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/Futura-BoldOblique.woff2') format('woff2'),
       url('assets/fonts/Futura-BoldOblique.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/*
===============================
Global CSS START
===============================
*/

body {
  margin: 0;
  padding: 0;
  color: var(--black);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-family: 'Avenir', sans-serif; 
}

html,
body {
  min-width: 320px;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease-out 0s;
  display: block;
}

a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  color: var(--text-white);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
  line-height: 1.2;
}

h1,
h2 {
  font-weight: bold;
}

h4,
h5 {
  font-weight: 600;
}

h1 {
  font-size: 2.5rem; /* 40px */
}

h2 {
  font-size: 2rem; /* 32px */
}

h3 {
  font-size: 1.5rem; /* 24px */
}

h4 {
  font-size: 1.25rem; /* 20px */
}

h5 {
  font-size: 1.125rem; /* 18px */
}

@media screen and (min-width: 991px) {
h1 {
    font-size: 2.8125rem; /* 45px */
}

h2 {
    font-size: 2.1875rem; /* 35px */
}

h3 {
    font-size: 1.875rem; /* 30px */
 }

h4 {
    font-size: 1.5rem; /* 24px */
 }

h5 {
    font-size: 1.25rem; /* 20px */

  }
}

@media screen and (min-width: 1360px) {
h1 {
    font-size: 5rem; /* 80px */
}

h2 {
    font-size: 3rem; /* 48px */
}

h3 {
    font-size: 2rem; /* 32px */
}

 h4 {
    font-size: 1.875rem; /* 30px */
}

h5 {
    font-size: 1.5rem; /* 24px */
}

}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/*-----Web btn style Start ------*/

.site-btn {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  padding: 17px 35px;
  display: inline-block;
  color: var(--white-color);
  background-color: var(--primary);
  font-family: 'Avenir Next', sans-serif;
  font-style: italic;
  transition: 0.3s all ease;
  border-radius: 40px;
}

.site-btn:hover {
  color: var(--white-color);
  background-color: var(--black);
}

.yellow-btn {
  background-color: var(--yellow-color);
}

/*----- Web btn style end ------*/

#page {
  overflow: hidden;
}

/*
============================
Global CSS END
============================
*/

/*
============================
Header Section Start
============================
*/

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 300px;
}

.main-header {
	padding: 20px 0;
  position: relative;
}

.main-menu {
	text-align: right;
}

.main-menu ul li {
  position: relative;
	display: inline-block;
	margin: 0 0 0 30px;
}

.main-menu ul li a {
	color: var(--black);
	font-size: 18px;
	display: block;
	font-weight: 400;
	transition: 0.3s all ease;
	padding: 5px 0px 0px 20px;
}

.main-menu ul li:hover a {
  color: var(--primary);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary);
}

/*
============================
Header Section  End
============================
*/


/*
============================
Hero Section Start
============================

*/
.hero-wrapper {
  padding: 55px 0;
  background-color: var(--primary);
}

.hero-item-wrap {
  max-width: 800px;
  margin: 0 auto;
}

.hero-content {
  text-align: center;
  margin-top: 80px;
}

.hero-content h5 {
	color: var(--white-color);
	font-weight: 400; 
	margin: 0;
  font-family: 'Avenir', sans-serif; 
}

/*
============================
Hero Section Ends
============================
*/

/*
============================
Hero Slider Section Start
============================
*/

.hero-slider-wrapper {
  position: relative;
}

.single-slider {
	display: flex !important;
	align-items: center;
}

.single-slider.slider-bg {
	background-size: cover;
	background-position: center top;
	background-color: var(--black);
	background-repeat: no-repeat;
	height: 800px;
}

.hero-slider-wrapper .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: 0;
  outline: none;
  padding: 20px;
  font-size: 30px;
  cursor: pointer;
  background: 0;
  transition: 0.3s all ease;
  background-size: cover;
	background-position: center;
	height: 200px;
	width: 128px;
	background-repeat: no-repeat;

}

.hero-slider-wrapper .slick-arrow:hover {
  color: var(--primary);
}

.hero-slider-wrapper .slick-arrow.slick-prev .icon {
  margin-right: 50px;
}

.hero-slider-wrapper .slick-arrow.slick-next .icon {
  margin-left: 50px;
}

.hero-slider-wrapper .slick-arrow.slick-prev {
	left: 0;
	background-image: url(assets/images/angle-bg-left.png);
}

.hero-slider-wrapper .slick-arrow.slick-next {
  right: 0;
  background-image: url(assets/images/angle-bg-right.png);
}

.hero-slider-wrapper .slick-dots {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.hero-slider-wrapper .slick-dots li {
  border: 0;
  width: 35px;
  height: 4px;
  outline: none;
  margin: 0 10px;
  cursor: pointer;
  display: inline-block;
  border-radius: 20px;
  background-color: #9c9898;
}

.hero-slider-wrapper .slick-dots li.slick-active {
  background-color: var(--primary);
}

.hero-slider-wrapper .slick-dots li button {
  display: none;
}

.hero-slider-wrapper .slider-content {
	max-width: 600px;
	text-align: center;
}

.slider-content h1 {
  margin: 0;
	color: var(--secondery);
	font-size: 5rem;
	text-transform: uppercase;
	font-family: 'Futura';
	font-weight: 700;
	line-height: 1.2;
}

.slider-content h4 {
  font-size: 2rem;
}

.slider-content .slide-dec-1 {
  color: var(--secondery);
  font-family: 'Chalkduster', sans-serif;
  margin-bottom: 10px;
}

.slider-content .slide-dec-2 {
  color: var(--white-color);
}

.slider-btn-wrapper {
  margin-top: 75px;
}

.slider-btn-wrapper .site-btn:hover {
  color: var(--white-color);
  background-color: var(--primary);
}

.slider-btn-wrapper .slide-btn-1 {
  color: var(--black);
  background-color: var(--white-color);
  margin-right: 20px;
}

.slider-btn-wrapper .slide-btn-2 {
  color: var(--black);
  background-color: var(--secondery);
}

/*
============================
Hero Slider Section End
============================
*/

/*
================================
Les-Spectacles-Section-Start
===============================
*/

.les-spectacles-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.section-title h2 {
  margin-bottom: 30px;
}

/* .les-spectacles-wrapper .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: 0;
  outline: none;
  font-size: 30px;
  cursor: pointer;
  background: 0;
  transition: 0.3s all ease;
  
}

.les-spectacles-wrapper .slick-arrow.slick-prev {
	left: -130px;
}

.les-spectacles-wrapper .slick-arrow.slick-next {
  right: -130px;
} */

.post-box {
  position: relative;
  margin-bottom: 20px;
  transition: 0.3s all ease;
  border: 4px solid transparent;
}

.post-box .site-btn {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: 75px;
  opacity: 0;
  visibility: hidden;
  padding: 17px 50px;
}

.post-box:hover .site-btn {
  opacity: 1;
  visibility: visible;
} 

.post-box .site-btn:hover {
  background-color: var(--primary);
}

.post-box:hover {
  border-color: var(--primary);
 
}

.post-content {
  margin-top: 50px;
  text-align: center;
}

.post-content p a {
  color: var(--black);
  font-size: 1.25rem;
}

.post-content span {
  color: var(--primary);
}
/*
===============================
Les-Spectacles-Section-End
===============================
*/

/*
============================
Nos-Offres-Section-Start
============================
*/

.nos-offres-wrapper {
  padding-top: 100px;
  padding-bottom: 80px;
}

.nos-offres-wrapper .section-title h2 {
  margin-bottom: 50px;
}

.offres-box {
  display: block;
}

.offres-content {
  margin-top: 45px;
  text-align: center;
}

.offres-content h5 {
	color: var(--black);
	font-weight: 500;
}

.offres-content .site-btn {
  margin-top: 10px;
}

/*
===========================
Nos-Offres-Section-End
===========================
*/

/*
===========================
Features-Section-Start
===========================
*/

.features-wrapper {
	position: relative;
	margin-top: 100px;
	margin-bottom: 50px;
}

.features-wrapper:before {
  position: absolute;
  content: "";
  background-image: url(assets/images/half-image.jpg);
  height: 100%;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.features-content-box {
	border: 4px solid var(--primary);
	padding: 75px 30px 75px 200px;
	margin: 100px 180px 100px 130px;
  overflow: hidden;
}

.features-content-box h1 {
  font-size: 4.875rem;
  line-height: 1;
  margin: 0;
  font-style: italic;
}

.features-content-box h4 {
  color: var(--primary);
  margin-bottom: 20px;
}

.features-content-box h5 {
  margin-bottom: 20px;
}

.features-content-box p {
  font-family: 'Avenir-Medium';
}

/*
===========================
Features-Section-End
===========================
*/

/*
===========================
Newsletter Section Start
===========================
*/

.newsletter-wrapper {
  background-image: url(assets/images/shape-image.png);
  background-size: cover;
  background-position: center top;
  padding-top: 60px;
  padding-bottom: 50px;
  position: relative;
  margin-top: 77px;
}

.newsletter-text {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.newsletter-wrapper:before {
  content: "";
  position: absolute;
  background-color: #bbbb;
  height: 3px;
  width: 100%;
  top: -36px;
}

.newsletter-text h4 {
  font-family: 'Avenir-Medium';
}

.newsletter-text h4 a {
	border-bottom: 4px solid var(--primary);
  font-style: italic;
}

/*
===========================
Newsletter Section End
===========================
*/



/*
============================
Avis Filter Section Start
============================
*/

.avis-filter-wrapper {
  margin-top: 100px;
  padding-bottom: 100px;
}

.filter-wrap {
  margin-top: 30px;
}

.filter-subtitle {
  color: var(--primary);
  font-size: 1.25rem;
}

.filter-item-list ul {
	display: flex;
	align-items: center;
	margin-top: 14px;
	flex-wrap: wrap;
}

.filter-item-list  ul li {
	padding: 16px 12px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 40px;
	cursor: pointer;
  font-size: 1.1rem;
  border: 2px solid #bbb;
	font-family: 'Avenir-Medium';
}

.filter-item-list ul li.active {
  color: var(--white-color);
  background-color: var(--primary);
}

.filter-item-box {
	margin-top: 20px;
}

/*
============================
Avis Filter Section End
============================
*/

/*
============================
Avis Post Section Start
============================
*/

.avis-post-wrapper {
  margin-top: 100px;
  padding-bottom: 30px;
}

.avis-img {
	padding: 50px;
	border: 4px solid #02aef7;
}

.avis-gellery {
  margin-top: 30px;
}

.avis-post-right {
	margin-top: 65px;
}

/*
============================
Avis Post Section End
============================
*/

/*
============================
Le Bar Section Start
============================
*/

.le-bar-content-wrapper {
  margin-top: 100px;
  margin-bottom: 80px;
}

.le-bar-content-wrapper .section-title h2 {
  text-align: center;
  margin-bottom: 40px;
}

.lequipe-about-wrapper .section-title {
  text-align: center;
}

.lequipe-about-right p {
  font-family: 'Avenir Next';
  text-align: center;
}

.lequipe-about-wrapper {
	margin-bottom: 40px;
}

/*
============================
Le Bar Section End
============================
*/



/*
============================
Footer Section Start
============================
*/

.footer-wrapper {
  background-color: var(--primary);
  padding-top: 80px;
  padding-bottom: 50px;
}

.footer-item-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  column-gap: 98px;
}

.social-links {
  text-align: right;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-list li {
  list-style: none;
  font-family: 'Avenir-Medium';
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 15px;
}

.footer-sub-title {
  font-family: 'Avenir-Medium';
  margin-bottom: 30px;
}

.social-links a {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 66px;
  border-radius: 50%;
  color: var(--primary);
  background-color: var(--white-color);
  margin-right: 10px;
  transition: 0.3s all ease;
}

.social-links a:hover {
  color: var(--white-color);
  background-color: var(--black);
}

.footer-bottom-menu {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.footer-bottom-menu ul {
  display: flex;
  gap: 36px;
}

.footer-bottom-menu ul li a {
  color: var(--black);
  font-family: 'Avenir-Medium';
  font-size: 1.2rem;
  display: block;
}

/*
============================
Footer Section End
============================
*/








/*
============================
Responsive Style Start
============================
*/

@media screen and (min-width: 1360px) {

 .container{
   max-width: 1320px;
 }

}

@media only screen and (max-width:1199px) {

.logo {
  width: 260px;
}

.main-menu ul li {
  margin: 0 0 0 2px;
}

.main-menu ul li a {
	font-size: 17px;
	padding: 5px 0px 0px 8px;
}

.hero-item-wrap {
	max-width: 700px;
}

.slider-content h1 {
	font-size: 4.4rem;
}

.slider-content h4 {
	font-size: 1.6rem;
}

.slider-btn-wrapper {
	margin-top: 60px;
}

.site-btn {
	padding: 16px 35px;
}

.features-content-box {
	padding: 45px 30px 45px 100px;
	margin: 70px 80px 70px 100px;
}

.features-content-box h1 {
	font-size: 4rem;
}

.newsletter-wrapper {
	padding-top: 25px;
}

.avis-filter-wrapper {
	margin-top: 60px;
	padding-bottom: 60px;
}

.avis-filter-wrapper .section-title h2 {
	margin: 0;
}

.social-links a {
	width: 40px;
	height: 40px;
	line-height: 55px;;
	margin-right: 8px;
}

}

@media only screen and (max-width:991px) {

 .hamburger {
  display: block;
 }

.hamburger.active .bar:nth-child(2) {
  opacity: 0;

 }

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);

 }

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
 }

.main-menu ul {
  position: absolute;
  left: -100%;
  top: 100%;
  width: 100%;
  z-index: 9;
  text-align:center;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  transition: 0.3s all ease;
  padding: 50px 0
}

.main-menu ul.active {
  left: 0;
}

.main-menu ul li {
  margin: 12px 0;
}

.main-menu ul li a {
  color: var(--white-color);
  font-size: 16px;
}

.nos-offres-wrapper {
	padding-top: 50px;
	padding-bottom: 50px;
}

.nos-offres-wrapper .section-title h2 {
	margin-bottom: 40px;
}

.features-wrapper {
	margin-top: 50px;
}

.features-content-box {
	margin: 45px 80px 45px 70px;
}

.features-content-box h1 {
	font-size: 3rem;
}

.avis-post-wrapper {
	margin-top: 50px;
}

.le-bar-content-wrapper {
	margin-top: 50px;
  margin-bottom: 0;
}

.lequipe-about-right {
	margin-top: 30px;
}

.newsletter-text {
	gap: 18px;
}

.newsletter-wrapper {
	padding-top: 0;
}

.footer-item-wrap {
	grid-template-columns: repeat(2 , 1fr);
	column-gap: 80px;
}

.social-links {
	text-align: left;
}

.footer-widget {
	margin-bottom: 30px;
}

}

@media only screen and (max-width:767px) {

.logo {
  width: 220px;
}

.single-slider.slider-bg {
  height: 460px;
  background-position: center center;
}

.slider-content h1 {
  font-size: 2rem;
}

.slider-content h4 {
  font-size: 1.2rem;
}

.slider-btn-wrapper {
	margin-top: 40px;
}

.slider-btn-wrapper .slide-btn-1 {
	margin-right: 0;
	margin-bottom: 15px;
}

.site-btn {
	padding: 15px 32px;
}

.hero-slider-wrapper .slick-arrow {
	display: none !important;
}

.hero-slider-wrapper .slick-dots li {
	width: 25px;
	margin: 0 5px;
}

.nos-offres-wrapper .section-title h2 {
	margin-bottom: 30px;
}

.offres-box.offres-box-2 {
	margin-top: 30px;
}

.offres-content {
	margin-top: 30px;
}

.features-wrapper {
	margin-top: 20px;
}

.features-wrapper::before {
	background-image: none;
}

.features-image {
  margin: 0 15px;
  position: relative;
}

.features-content-box {
	margin: 0;
	padding: 20px;
}

.features-content-box h1 {
	font-size: 2rem;
}

.features-content-box p {
	font-family: 'Avenir-Medium';
	font-size: 16px;
}

.newsletter-text {
	gap: 0;
	flex-wrap: wrap;
	text-align: center;
}

.footer-wrapper {
	padding-top: 50px;
}

.footer-logo {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.footer-item-wrap {
	grid-template-columns: repeat(1 , 1fr);
	column-gap: 0;
	text-align: center;
}

.footer-sub-title {
	margin-bottom: 8px;
}

.social-links {
	text-align: center;
}

.footer-list li {
	font-size: 1.2rem;
	margin-bottom: 4px;
}

.footer-bottom-menu {
	margin-top: 10px;
}


.footer-bottom-menu ul {
	gap: 10px;
  flex-direction: column;
	text-align: center;
}

.footer-bottom-menu ul li a {
	font-size: 1rem;
}

.avis-filter-wrapper {
	margin-top: 40px;
	padding-bottom: 60px;
}

}
/*
============================
Responsive Style End
============================
*/